<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="400000"/>
    <pages enableEventValidation="false"></pages>
    <sessionState mode="InProc" timeout="140000"></sessionState>
  </system.web>
</configuration>